@import "tailwindcss";

@theme {
  --font-primary: "Poppins", "serif";
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
   --color-background: #f9ebff;
  --color-primary: #6a4fb6;
  --color-secondary: #9d8bbf;
  --color-accent: #66baa7; 
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}


.app {
  background: linear-gradient(90deg, #e8cafb, #6a4fb6);
}
